<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="toolbar-button" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
  </button>
  <form [formGroup]="form">
      <mat-slide-toggle formControlName="isDarkTheme" class="mr-8">
      </mat-slide-toggle>
  </form>
  <span class="example-spacer"></span>
  <button mat-icon-button class="icon favorite-icon" aria-label="icon-button with heart icon" (click)="logOut()">
    <mat-icon>favorite</mat-icon>
  </button>

</mat-toolbar>

