@use 'sass:map';
@use '@angular/material' as mat;
@use '../helpers/palettes';
// @include mat.core();

$my-light-primary: mat.define-palette(palettes.$my-softpurple);
$my-light-accent: mat.define-palette(palettes.$my-skyblue);

$my-light-warn: mat.define-palette(palettes.$my-softpink);

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-light-primary,
      accent: $my-light-accent,
      warn: $my-light-warn,
    ),
  )
);

$my-light-success: mat.define-palette(palettes.$my-green);
$my-light-info: mat.define-palette(palettes.$my-yellow);

$my-light-variants: (
  success: $my-light-success,
  info: $my-light-info,
);