/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #eae9fc,
    100 : #cac8f7,
    200 : #a7a3f2,
    300 : #847eed,
    400 : #6962e9,
    500 : #4f46e5,
    600 : #483fe2,
    700 : #3f37de,
    800 : #362fda,
    900 : #2620d3,
    A100 : #ffffff,
    A200 : #d9d8ff,
    A400 : #a7a5ff,
    A700 : #8e8bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
    50 : #fbe5ef,
    100 : #f4bed6,
    200 : #ed93bb,
    300 : #e668a0,
    400 : #e0478b,
    500 : #db2777,
    600 : #d7236f,
    700 : #d21d64,
    800 : #cd175a,
    900 : #c40e47,
    A100 : #fff1f4,
    A200 : #ffbecf,
    A400 : #ff8baa,
    A700 : #ff7198,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



