// http://mcg.mbitson.com/# para generar palettes
$my-darkgray: (
    50 : #e4e5e7,
    100 : #bcbfc4,
    200 : #8f949d,
    300 : #626976,
    400 : #404958,
    500 : #1e293b,
    600 : #1a2435,
    700 : #161f2d,
    800 : #121926,
    900 : #0F172A, //background toolbar
    A100 : #5a8cff,
    A200 : #2768ff,
    A400 : #0049f3,
    A700 : #0041da,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-darkpink: (
    50 : #ffe4f1,
    100 : #ffbcdc,
    200 : #ff90c5,
    300 : #fe64ae,
    400 : #fe429c,
    500 : #fe218b,
    600 : #fe1d83,
    700 : #fe1878,
    800 : #fe146e,
    900 : #fd0b5b,
    A100 : #ffffff,
    A200 : #fff4f7,
    A400 : #ffc1d3,
    A700 : #ffa7c0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-darkpurple: (
    50 : #e8e0ea,
    100 : #c5b3ca,
    200 : #9f80a6,
    300 : #794d82,
    400 : #5c2668,
    500 : #3f004d,
    600 : #390046,
    700 : #31003d,
    800 : #290034,
    900 : #1b0025,
    A100 : #c860ff,
    A200 : #b62dff,
    A400 : #a200f9,
    A700 : #9200e0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$my-darkblue: (
    50 : #e3e4e8,
    100 : #b9bcc5,
    200 : #8a909e,
    300 : #5b6477,
    400 : #37425a,
    500 : #14213d,
    600 : #121d37,
    700 : #0e182f,
    800 : #0b1427,
    900 : #060b1a,
    A100 : #597eff,
    A200 : #2656ff,
    A400 : #0035f2,
    A700 : #0030d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$my-skyblue: (
    50 : #f7fbfe,
    100 : #ecf4fd,
    200 : #dfedfb,
    300 : #d2e6f9,
    400 : #c9e0f8,
    500 : #bfdbf7,
    600 : #b9d7f6,
    700 : #b1d2f5,
    800 : #a9cdf3,
    900 : #9bc4f1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-softpink: (
    50 : #fdf4ff,
    100 : #f9e3ff,
    200 : #f6d0ff,
    300 : #f2bdff,
    400 : #efaeff,
    500 : #eca0ff,
    600 : #ea98ff,
    700 : #e78eff,
    800 : #e484ff,
    900 : #df73ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #fefbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-softpurple: (
    50 : #f5f6ff,
    100 : #e6e8ff,
    200 : #d5d9ff,
    300 : #c4c9ff,
    400 : #b7beff,
    500 : #aab2ff,
    600 : #a3abff,
    700 : #99a2ff,
    800 : #9099ff,
    900 : #f5f6ff, //background toolbar
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$my-yellow: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #fdfadb,
    400 : #fcf6be,
    500 : #faf2a1,
    600 : #f8ee84,
    700 : #f7ea67,
    800 : #f5e64a,
    900 : #f4e22d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffbcf,
    A700 : #fdf7b7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-green: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #fcfffe,
    300 : #b5fee5,
    400 : #96feda,
    500 : #78fecf,
    600 : #5afec4,
    700 : #3bfeb9,
    800 : #1dfdaf,
    900 : #02faa3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #aaffe1,
    A700 : #90ffd8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-darkinfo: (
    50 : #ffffff,
    100 : #c5dbf0,
    200 : #99c0e4,
    300 : #609dd5,
    400 : #488ece,
    500 : #347fc4,
    600 : #2e6fac,
    700 : #276094,
    800 : #21507b,
    900 : #1a4063,
    A100 : #f8fcff,
    A200 : #98caf8,
    A400 : #4899e3,
    A700 : #3e8cd3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$my-darkgreen: (
    50 : #def7f5,
    100 : #a0e9e2,
    200 : #72dfd4,
    300 : #38d1c3,
    400 : #2cbfb1,
    500 : #26a69a,
    600 : #208d83,
    700 : #1b746c,
    800 : #155b55,
    900 : #0f423e,
    A100 : #cefdf9,
    A200 : #6cf9ec,
    A400 : #1ce3d0,
    A700 : #25c0b2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


